//
//  staging.xcconfig
//  iOS Build Variant
//
//  Created by Dwi Randy Herdinanto on 13/07/20.
//  Copyright © 2020 dwirandyh. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Staging.xcconfig
BASE_URL = https:/$()/staging.dwirandyh.com

APP_NAME = MyApp (Staging)
APP_BUNDLE_ID = com.dwirandyh.myapp.staging
